 body {
  background-color: #0c1616;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: wheat;
 }
 .not {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
 }
  .info {
    border: inset #f6000c;

  }
  h2, h3, p{
    text-align: center;
  }

  div {
    background-color: #00484e;
    border: solid #f6000c;
    border-width: 5px;
    border-radius: 10px;
    text-align: center;
  }
  .one {
    border: inset 5px #f6000c;
    display: inline-block;
    height: 350px;
    width: 350px;
    margin-right: 60px;
  }
  .two {
    height: 350px;
    width: 350px;
  }
  .A:hover {
    content: url(images/TMIA_hover.jpg);
  }
  .B:hover {
    content: url(images/TLSof.png);
  }
  .C:hover {
    content: url(images/WEof.png);
  }