body {
    background-color: #0c1616;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
  .info {
    border: inset #f6000c;

  }
  h2 {
    background-color: #00484e;
  }

  div {
    background-color: #00484e;
    border: solid #f6000c;
    border-width: 5px;
    border-radius: 10px;
    text-align: center;
  }
  .one {
    border: inset 5px #f6000c;
    display: inline-block;
    height: 350px;
    width: 350px;
    margin: 10px;
  }
  .two {
    height: 350px;
    width: 350px;
  }
  .A:hover:hover {
    content: url(images/TMIA_hover.jpg);
  }
  .B:hover {
    content: url(images/TLSof.png);
  }
  .C:hover {
    content: url(images/WEof.png);
  }